In [5]:
import pandas as pd
DATA = pd.read_csv('salary_and_population.csv', index_col='Region_RU')
DATA

,Region_EN,AVG_Salary,Population,Unnamed: 4
Region_RU,,,,
Алтайский край,Altai Region,25960,218866,NaN
Амурская область,Amur Region,43156,793194,NaN
Архангельская область,Arkhangelsk Region,47526,1144119,NaN
Астраханская область,Astrakhan Region,32166,1014065,NaN
Белгородская область,Belgorod Region,31163,1547418,NaN
...,...,...,...,...
Чеченская Республика,Republic of Chechnya,26108,1456951,NaN
Чувашская Республика,Chuvash Republic,27028,1223395,NaN
Чукотский АО,Chukotka AO,96930,49663,NaN
Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,541479,NaN
Ярославская область,Yaroslavl Region,33882,1259612,NaN

In [10]:
new_data = DATA.drop(['Самарская область', 'Нижегородская область', 'Кемеровская область', 'Приморский край', 'Ненецкий АО'])
new_data = new_data.drop(['Population'], axis=1)
new_data

,Region_EN,AVG_Salary,Unnamed: 4
Region_RU,,,
Алтайский край,Altai Region,25960,NaN
Амурская область,Amur Region,43156,NaN
Архангельская область,Arkhangelsk Region,47526,NaN
Астраханская область,Astrakhan Region,32166,NaN
Белгородская область,Belgorod Region,31163,NaN
...,...,...,...
Чеченская Республика,Republic of Chechnya,26108,NaN
Чувашская Республика,Chuvash Republic,27028,NaN
Чукотский АО,Chukotka AO,96930,NaN
Ямало-Ненецкий АО,Yamalo-Nenets Autonomous district,86560,NaN
Ярославская область,Yaroslavl Region,33882,NaN

In [19]:
new_data['AVG_Salary'].mean()

38468.55

In [21]:
new_data['AVG_Salary'].median()

32089.5

In [23]:
new_data['AVG_Salary'].var(ddof = 0)

264880095.4475

In [24]:
new_data['AVG_Salary'].std(ddof = 0)

16275.13734035753